cmake-build-debug
CMakeLists.txt

.idea

# Binaries
agent
client
manager

# Logs and caps
mininet/logs/*
mininet/pcaps/*

# Build files (generated)
mininet/build/*

# Spines; contributor should insert manually
spines

# Temp folder for compilation products and whatnot
tmp